<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members</title>
    <style>
      h1{
        text-align: center;
        font-size: 3rem;
        color: brown;
        margin-bottom: 1rem;
      }

      ul{
        text-align: center;
        font-size: x-large;
        list-style-type: disc;
        padding-left: 3rem;
        padding-right: 3rem;
        margin-bottom: 1rem;
      }

    </style>

</head>
<body>
  <h1>Members</h1>
<ul>
  {% for x in mymembers %}

    <a href="details/{{x.id}}" class="button">{{ x.name}}</a>
    <br>
  {% endfor %}
</ul>
</body>
</html>
